.img_container2 {
  // position: absolute;
  // top: 20px;
  // left: 50%;
  // right: 50%;
  width: 210px;
  margin-top: -140px;

  img {
    width: 100%;
    height: 100%;
  }
}

.menu_container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;

  .question {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;

    h2 {
      color: rgb(79 95 111);
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    span {
      color: #896e61;
      font-size: 28px;
      font-weight: bold;
    }
  }

  .question2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .img_container {
      // position: absolute;
      // top: 20px;
      // left: 50%;
      // right: 50%;
      width: 110px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    span,
    h2 {
      font-size: 44px;
      font-weight: bold;
      text-align: center;
      color: #896e61;
    }
  }

  .options {
    width: 100%;
    max-width: 320px;
    ul {
      padding: 0;

      li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
        button {
          margin-bottom: 16px;
          color: #896e61;
          border: none;
          font-size: 24px;
          font-weight: 600;
          background-color: transparent;

          transition: all 0.3s ease-in-out;
          width: 100%;
          background-color: white;
          // &:hover {

          //   color: #896e61;
          // }
        }
      }
    }
  }
}
